@import url('fonts.css');
@import url('reset.css');

.container {
    box-sizing: border-box;
    max-width: 1440px;
    padding: 0 84px;
    margin: 0 auto;
}

.small-items{
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-left: 37px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}
.icon{
    margin-right: 13px;
    width: 20px;
    height: 22px;
    

}
.small-image{
    width: 20px;
    height: 22px;

}
.king{
    display: flex;
    margin-left: 37px;
    
}
.box{
    margin-bottom: 94px;
    margin-top: 21px;
    margin-left: 37px;
}
.header{
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 101.38%;
    margin-left: 38px;
    margin-right: 140px;
    
}
.intro{
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    margin-bottom: 87px;

}
.para{
    font-family:" Roboto",sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
margin-left: 38px;

}
.box2{
    background: #1E4681;
    border-radius: 5px;
    height: 200px;
    width: 483px;
    color: #FFF;
    margin-top: 87.62px;
    margin-left: 409.39px;
    


    font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 130%;
/* or 32px */




color: #FFFFFF;

}
.author{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */
    
    text-align: right;
    
    color: #FFFFFF;
    position:sticky;
width: 280.5px;
height: 45.64px;
left: 594px;
top: 821px;

    }

.tk{
    padding-left: 26.03;
padding-top: 19.26;
padding-right: 27.02;
padding-bottom: 67.74;
}

.ellipse{
    border-radius: 50%;
    




background: #EFEFEF;

}
